<div class="grid justify-content-center card">
    <div class="col-12 md:col-6 lg:col-3">
        <p-card>
            <div class="p-grid">
                <div class="col-12 text-center">
                    <i class="fa-solid fa-car fa-4x" style="color: #007ad9;"></i>
                </div>
                <div class="text-center">
                    <h2>Venda de Carro</h2>
                </div>
                <div class="col-12">
                    <label for="">Usuário:</label>
                    <input class="col-12" type="text" pInputText>
                </div>
                <div class="col-12">
                    <label for="">Senha:</label>
                    <input class="col-12" type="text" pInputText>
                </div>
                <div class="col-12">
                    <button pButton type="button" label="Entrar" class="col-12"></button>
                    
                </div>

            </div>
        </p-card>

    </div>
</div>